<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Power By</span>
    <a b-slate-link href="https://www.wandou.online" target="_blank">
      豌豆AI(邮箱注册GPT3.5永久免费用) </a>
    <span px-1>|</span>
    <a b-slate-link href="https://cxxz.info/doc/8e18e2ab22094752b67593b57476ce89" target="_blank"> 构建自己的GPT </a>
    <span px-1>|</span>
    <span pr-1>（如果遇到卡死，请清除内容重新输入，由于gpt存在字数限制）</span></p>
</footer>
