---
import { model } from '../utils/openAI'
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">小筑</span>
    <span class="gpt-subtitle">助手</span>
  </div>
  <p mt-1 op-60>Based on <a class="gpt-sub-describe" href="https://cxxz.info/doc/8e18e2ab22094752b67593b57476ce89" target="_blank">WanDou API</a> ({model}).</p>
</header>
